body {
background: purple;
position: relative;
margin:0px;
padding:0px;
animation: background 9s infinite;
-webkit-animation: background 9s infinite;
-moz-animation: background 9s infinite;
-ms-animation: background 9s infinite;
-o-animation: background 9s infinite;
}
#wel {
	font-family: Segoe UI;
	font-style:normal;
	font-weight:lighter;
	color:white;
	font-size:76px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes background {
	0%{background:Purple;}
	20%{background:#B3378C;}
	40%{background:#771EA4;}
	60%{background:#54229A;}
	80%{background:#05572B;}
	90%{background:#CDD726; color:#0E0202;}
	100%{background:#CC951D; color:#150303;}
}
@-webkit-keyframes background {
	0%{background:purple;}
	20%{background:#B3378C;}
	40%{background:#771EA4;}
	60%{background:#54229A;}
	80%{background:#05572B;}
	90%{background:#CDD726; color:black;}	
	100%{background:#CC951D; color:black;}
}

@media screen and (max-width: 600px){
  #wel {
    font-size: 56px;
  }
}
@media screen and (max-width: 400px){
  #wel {
    font-size: 36px;
  }
}
@media screen and (max-width: 350px){
  #wel {
    font-size: 25px;
  }
}
