body {
background: purple;
margin:0px;
padding:0px;
animation: background 9s infinite;
-webkit-animation: background 9s infinite;
-moz-animation: background 9s infinite;
-ms-animation: background 9s infinite;
-o-animation: background 9s infinite;
}
#wel {
	font-family: Segoe UI;
	font-style:normal;
	font-weight:lighter;
	text-align: center;
	color:white;
	margin: 0;
	font-size:76px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s linear;
}
@keyframes background {
	0%{background:Purple;}
	20%{background:#B3378C;}
	40%{background:#771EA4;}
	60%{background:#54229A;}
	80%{background:#05572B;}
	90%{background:#CDD726; color:#0E0202;}
	100%{background:#CC951D; color:#150303;}
}
@-webkit-keyframes background {
	0%{background:purple;}
	20%{background:#B3378C;}
	40%{background:#771EA4;}
	60%{background:#54229A;}
	80%{background:#05572B;}
	90%{background:#CDD726; color:black;}	
	100%{background:#CC951D; color:black;}
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button a.button {
    display: inline-block;
    padding: 12px 30px;
    margin-right: 14px;
    font-size: 15px;
	font-family: Segoe UI;
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    color: #303030;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2', GradientType=0);
    border: solid 1px #b7b7b7;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #e8e8e8;
}

#view-on-github span {
    background: transparent url(https://phe0nix.github.io/assets/images/octocat-icon.png) 0 50% no-repeat;
}

#home span {
    background: transparent url(https://avatars0.githubusercontent.com/u/9951055) 1px 50% no-repeat;
    background-size: 20px;
}

a.button span {
    display: block;
    height: 23px;
    padding-left: 35px;
}

@media screen and (max-width: 600px){
  #wel {
    font-size: 56px;
	transition: 0.2s linear;
  }
  .button a.button {
        display: inline-block;
        padding: 5px 14px;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
        line-height: 25px;
        color: #303030;
        transition: 0.2s linear;
    }
    .button a.button:not(:last-child) {
        margin-right: 6px;
    }
}
@media screen and (max-width: 400px){
  #wel {
    font-size: 36px;
	transition: 0.2s linear;
  }
}
@media screen and (max-width: 350px){
  #wel {
    font-size: 25px;
	transition: 0.2s linear;
  }
}